
.eventAddpage,
.eventAddwrapper{
    height: 100%;
    width: 100%;
}

.eventAddwrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}

.eventform{
    display:flex;
    flex-direction:column;
    width: 60%;


    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.forminput{
    width: 70%;
    margin: 0.9rem 0;
}

.eventButton{
    width: 50%;
    margin: 0.9rem 0;
}
